# API
DJANGO_SECRET_KEY=

# mySKNV
MYSKNV_DB_ENGINE="django.db.backends.mysql"
MYSKNV_DB_NAME=
MYSKNV_DB_USER=
MYSKNV_DB_PASSWORD=
MYSKNV_DB_HOST=
MYSKNV_DB_PORT="3306"

# Fred
FRED_DB_ENGINE="django.db.backends.postgresql"
FRED_DB_NAME=
FRED_DB_USER=
FRED_DB_PASSWORD=
FRED_DB_HOST=
FRED_DB_PORT="5432"

FRED_API=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_S3_REGION_NAME="us-east-1"

TWILIO_ACCOUNT_SID= 
TWILIO_AUTH_TOKEN= 

CYBERSOURCE_MERCHANT_ID="sincerusfloridallc"
CYBERSOURCE_MERCHANT_KEY_ID=
CYBERSOURCE_MERCHANT_SECRET_KEY=
CYBERSOURCE_ENVIRONMENT="api.cybersource.com"

HUBSPOT_ACCESS_TOKEN=

ENVIRONMENT=dev

# Observability
MEZMO_INGESTION_KEY=
