aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiohttp-retry==2.9.1
aiosignal==1.4.0
amqp==5.3.1
asgiref==3.8.1
attrs==25.1.0
backoff==2.2.1
billiard==4.2.1
boto3==1.40.4
botocore==1.40.4
celery==5.4.0
certifi==2024.8.30
cffi==2.0.0
charset-normalizer==3.4.0
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
coverage==7.6.12
cramjam==2.11.0
crispy-bulma==0.11.0
cryptography==46.0.3
cybersource-rest-client-python==0.0.46
DateTime==5.5
distro==1.9.0
Django==5.1.7
django-cors-headers==4.7.0
django-crispy-forms==2.3
django-filter==25.1
django-ses==4.0.0
django-storages==1.14.6
djangorestframework==3.15.2
djangorestframework_simplejwt==5.5.0
drf-spectacular==0.28.0
flower==2.0.1
frozenlist==1.7.0
gunicorn==23.0.0
humanize==4.11.0
idna==3.10
inflection==0.5.1
iniconfig==2.0.0
jmespath==1.0.1
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kombu==5.4.2
multidict==6.6.3
numpy==2.3.2
oauthlib==3.2.2
packaging==24.2
pandas==2.3.1
pluggy==1.5.0
posthog==6.9.2
prometheus_client==0.21.0
prompt_toolkit==3.0.48
propcache==0.3.2
protobuf==4.25.3
psycopg2-binary==2.9.10
pyarrow==21.0.0
pycparser==2.23
pycryptodome==3.23.0
PyJWT==2.9.0
PyMySQL==1.1.1
pyOpenSSL==25.3.0
pytest==8.3.5
pytest-cov==6.0.0
pytest-django==4.10.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-snappy==0.7.3
pytz==2024.2
PyYAML==6.0.2
redis==5.2.0
referencing==0.36.2
requests==2.32.3
requests-oauthlib==2.0.0
rpds-py==0.22.3
s3transfer==0.13.1
setuptools==80.9.0
six==1.16.0
sqlparse==0.5.2
tornado==6.4.1
twilio==9.7.0
typing_extensions==4.15.0
tzdata==2024.2
uritemplate==4.1.1
urllib3==2.2.3
vine==5.1.0
watchdog==6.0.0
wcwidth==0.2.13
whitenoise==6.8.2
yarl==1.20.1
zope.interface==8.0.1
